@model IEnumerable<MovieViewModel>
@{
    ViewData["Title"] = "Currently Available Movies";
}

<h1>@ViewData["Title"]</h1>

@foreach(var item in Model)
{
    <p>
        <strong>@item.MovieName</strong> - @item.MovieDescription - @item.GenreName
        <br>
        <a asp-controller="Movies" asp-action="Create" asp-route-id = "@item.MovieId"><button>Rent</button></a>
    </p>
}